#header-icon {
  margin-right: 1rem;
}

#header-icon i {
  display: inline-block;
  color: #ff0;
  transition: color 500ms ease-out;
}

#brand:hover i {
  color: #fa0;
}

.headerIcon {
  font-size: 1.5rem;
  padding-right: 0.8rem;
  color: white;
  transition: color 300ms;
}

#twitter-icon:hover {
  color: rgb(29, 161, 242);
}

#github-icon:hover {
  color: rgb(36, 41, 46);
}

#linkedin-icon:hover {
  color: rgb(0, 160, 220);
}

#medium-icon:hover {
  color: rgba(0, 0, 0, 0.84);
}

@media screen and (max-width: 600px) {
  #brand {
    font-size: 1.3rem !important;
  }

  .headerIcon {
    font-size: 1.3rem;
  }
}
