#header-icon {
  margin-right: 1rem;
}

#header-icon i {
  display: inline-block;
  color: #ff0;
  transition: color 500ms ease-out;
}

#brand:hover i {
  color: #fa0;
}

@media screen and (max-width: 600px) {
  #brand {
    font-size: 1.2rem !important;
  }
}
